/* * {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 50px;
}

h1 {
  color: black;
}

#outerDiv {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;;
  gap: 100px;
}

.innerDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  border-radius: 5px;
  border: 1px solid rgb(90, 90, 92);
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}

.input-size {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}

svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.item1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 5px;
}

#item-btn {
  height: 40px;
}

button {
  width: 100%;
  height: 100%;
  font-size: larger;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(31, 117, 221);
  cursor: pointer;
}

#item-account {
  text-align: center;
}

#item-row {
  display: flex;
  align-items: center;
}

.hr {
  flex: 1;
}

#item-row span {
  margin: 0 10px;
}

.logo {
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  gap: 20px;
}

span {
  color: red;
  cursor: pointer;
}

.innerDivImg {
  box-shadow: 10px 10px 10px rgb(92, 91, 91);
} */

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#outerDiv {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  .innerDivImg {
    box-shadow: 10px 10px 10px rgb(92, 91, 91);
  }

  .innerDiv {
    display: grid;
    gap: 20px;
    width: 30%;

    .input{
      /* border: 1px solid black; */
      width: 80%;
      height: 80%;
      /* border: none; */
      

      .input-size{
        /* padding: 10px 70px; */
        width: 90%;
        height: 90%;
      }
    }

    .item1{
      display: flex;
      padding: 10px 0;
      gap: 70px;
    }

    #item-btn button{
      width: 73%;
      height: 200%;

    }
  }

}
