* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  height: 70px;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  background-color: white;

  .logoDiv {
    display: flex;
    align-items: center;
    gap: 100px;

    .features {
      display: flex;
      gap: 50px;
    }
  }

  a {
    font-size: 18px;
    text-decoration: none;
    color: black;
  }
  .contact {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      height: 47px;
      width: 150px;
      border: none;
      border-radius: 8px;
      background-color: #125785;
      box-shadow: 5px 5px 0 0 #79b6de;

      a {
        color: white;
      }
    }
  }
}

/* main {
  width: 100vw;
  height: 100vh;
  color: rgb(85, 85, 85);
} */

form{
  display: grid;
  width: 70%;
  margin: 5% 15%;
  justify-items: center;
  background-color:aqua;
  text-align: center;
  gap: 20px;

  h1{
    padding:15px;
    align-items: end;    
  }

  .form-item{
    display: flex;
    justify-content: space-between;
    gap: 30%;

    .input{
      display: grid;
      gap: 10px;

      input{
        padding: 10% 70%;
      }
    }
  }
}

